.description-menu {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .app-back-forward-button {
        width: 2.4rem !important;
        height: 2.4rem !important;
    }
    .main-sorting-nav {
        margin-right: 1rem !important;
    }
    .app-filter-button {
        margin-top: 0.2rem !important;
        height: 2.4rem !important;
        width: 2.4rem !important;
    }
    .app-filter-button-left {
        margin-left: 1rem !important;
    }
    input[type=text] {
        margin-top: 0.1rem !important;
        height: 2.4rem !important;
        width: 7.5rem !important;
    }
    .app-title {
        margin-top: 0.75rem !important;
        margin-left: 1.5rem !important;
        font-size: 1.5rem !important;
    }
    .sub-menu {
        border-right: none;
        width: 350px;
    }
    .menu {
        height: 290px;
    }
    .table-item {
        border-right: none;
      }
      .table {
        display: none;
      }
      .main {
          height: 400px;
        width: 350px;
      }
      .description-menu {
          display: none;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .table-item {
        border-right: none;
      }
      .table {
        display: none;
      }
      .main {
        width: 550px;
      }
      .description-menu {
          display: none;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .table-item {
    border-right: none;
  }
  .table {
    display: none;
  }
  .main {
    width: 550px;
  }
  .description-menu {
      display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .table-item {
    display: none;
  }
  .main {
    width: 950px;
  }
  .table {
    display: none;
  }
  .description-menu {
    display: flex;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main {
    width: 1200px;
  }
  .table {
    display: block;
  }
}
