input[type=text] {
    margin-top: 0.25rem;
    border-radius: 3px;
    border: 2px solid var(--background-pastel-color);
    color: var(--pastel-color);
    font-family: 'DS SweetKiss';
    font-size: 1.5rem;
    width: 10rem;
}

::placeholder {
    -webkit-text-stroke: 1px white;
    font-weight: lighter;
    color: var(--background-pastel-color);
    font-size: 1.25rem;
    text-align: center;
    font-family: fontAwesome;
    color: var(--pastel-color);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
