.main-sorting-nav {
    display: flex;
    margin-top: -0.1rem;
}


.app-filter-button-left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 2px solid var(--pastel-color);
    border-right: 2px solid var(--pastel-color);
  }
  
  .app-filter-button-right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 2px solid var(--pastel-color);
  }
  
  .app-filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--pastel-color);
    border-bottom: 2px solid var(--pastel-color);
    height: 2rem;
    width: 2rem;
    text-align: center;
    color: var(--pastel-color);
  }
  
  .app-filter-button:hover {
    color: #fff;
    background-color: var(--pastel-color);
  }

  .app-filter-button-selected {
    color: #fff;
    background-color: var(--pastel-color);
  }

input[type=text] {
    margin-top: 0.25rem;
    border-radius: 3px;
    border: 2px solid var(--background-pastel-color);
    color: var(--pastel-color);
    font-family: 'DS SweetKiss';
    font-size: 1.5rem;
    width: 10rem;
}

::placeholder {
    -webkit-text-stroke: 1px white;
    font-weight: lighter;
    color: var(--background-pastel-color);
    font-size: 1.25rem;
    text-align: center;
    font-family: fontAwesome;
    color: var(--pastel-color);
}