.forward-buttons {
  margin-top: 0.1rem;
}

.app-back-forward-button {
  background-color: var(--pastel-color);
  width: 2rem;
  height: 2rem;
  border-radius: 2px;
}

.app-back-forward-button:hover {
  color: var(--pastel-color);
  border: 1px solid var(--background-pastel-color);
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app-back-forward-button {
    width: 2.4rem;
    height: 2.4rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
