/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sub-menu {
    height: 285px;
    width: 350px;
  }
  .item-grid {
    width: 155px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sub-menu {
    height: 488px;
    width: 550px;
  }
  .item-grid {
    width: 165px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sub-menu {
    height: 488px;
    width: 750px;
  }
  .item-grid {
    width: 169px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sub-menu {
    height: 488px;
    width: 500px;
  }
  .item-grid {
    width: 230px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sub-menu {
    width: 450px;
  }
  .item-grid {
    width: 205px;
  }
}

.menu-table-item-icon {
  height: 3rem;
  width: 3rem;
  background-color: var(--background-pastel-color);
  border-radius: 2px;
}

.item {
  font-size: 2rem;
  color: var(--pastel-color);
  margin: 0.5rem;
  font-weight: 600;
  text-decoration: none;
}

.item:hover {
  background-color: var(--background-pastel-color);
}

.item:focus {
  background-color: var(--background-pastel-color);
  border: 2px solid var(--pastel-color);
}

.sub-menu {
  border-right: 1px solid var(--pastel-color);
}

.sub-scrollbar {
  float: left;
  margin-bottom: 25px;
  overflow-y: scroll;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.toggleOut {
  animation: fadeout 500ms;
  opacity: 0;
}

.toggleIn {
  animation: fadein 500ms;
  opacity: 1;
}

.item-grid {
}