.item {
    display: flex;
    font-size: 2rem;
    color: var(--pastel-color);
    margin: 0.5rem;
    font-weight: 600;
    text-decoration: none;
  }
  
  .item:hover {
    background-color: var(--background-pastel-color);
  }

  .item:focus {
    background-color: var(--background-pastel-color);
    border: 2px solid var(--pastel-color);
  }

  .sub-scrollbar {
    float: left;
    height: 285px;
    margin-bottom: 25px;
    width: 65px;
    overflow-y: scroll;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.toggleOut {
  animation: fadeout 500ms;
  opacity: 0;
}

.toggleIn {
  animation: fadein 500ms;
  opacity: 1;
}

.nav-button {
  background-color: var(--background-pastel-color);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-left: 0.75rem;
  margin-top: 0.75rem;
}

.nav-button:hover {
  background-color: var(--pastel-color);
}

.preview-item-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  width: 350px;
  height: 400px;
  border-radius: 10px;
  top: -402px;
}

.preview-item-menu-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-top: 1px solid var(--pastel-color);
  height: 330px;
}

.grid-sub-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 155px;
}