/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sub-menu {
    height: 285px;
    width: 350px;
  }
  .preview-item-menu {
    width: 350px;
    height: 400px;
    border-radius: 10px;
    top: -402px;
  }
  .preview-item-menu-image {
    margin-top: 1rem;
    height: 330px;
  }
  .preview-item-menu-image-size {
    height: 250px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sub-menu {
    height: 488px;
    width: 550px;
  }
  .preview-item-menu {
    width: 550px;
    height: 600px;
    border-radius: 10px;
    top: -566px;
  }
  .preview-item-menu-image {
    margin-top: 1rem;
    height: 540px;
  }
  .preview-item-menu-image-size {
    height: 500px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .preview-item-menu {
    width: 550px;
    height: 600px;
    border-radius: 10px;
    top: -566px;
  }
  .preview-item-menu-image {
    margin-top: 1rem;
    height: 540px;
  }
  .preview-item-menu-image-size {
    height: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
.item {
  display: flex;
  font-size: 2rem;
  color: var(--pastel-color);
  margin: 0.5rem;
  font-weight: 600;
  text-decoration: none;
}

.item:hover {
  background-color: var(--background-pastel-color);
}

.item:focus {
  background-color: var(--background-pastel-color);
  border: 2px solid var(--pastel-color);
}

.sub-menu {
  border-right: none;
  border-right: 1px solid var(--pastel-color);
}

.sub-scrollbar {
  float: left;
  margin-bottom: 25px;
  overflow-y: scroll;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.toggleOut {
  animation: fadeout 500ms;
  opacity: 0;
}

.toggleIn {
  animation: fadein 500ms;
  opacity: 1;
}

.nav-button {
  background-color: var(--background-pastel-color);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-left: 0.75rem;
  margin-top: 0.75rem;
}

.nav-button:hover {
  background-color: var(--pastel-color);
}

.preview-item-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
}

.preview-item-menu-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--pastel-color);
}

.grid-sub-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 155px;
}

