input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.main {
  background-color: #fff;
  border-radius: 15px;
  width: 1200px;
  height: 600px;
  box-shadow: 5px 10px #888888;

}

.app-filter-button-left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: 2px solid var(--pastel-color);
  border-right: 2px solid var(--pastel-color);
}

.app-filter-button-right {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 2px solid var(--pastel-color);
}

.app-filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--pastel-color);
  border-bottom: 2px solid var(--pastel-color);
  height: 2rem;
  width: 2rem;
  text-align: center;
  color: var(--pastel-color);
}

.app-filter-button:hover {
  color: #fff;
  background-color: var(--pastel-color);
}


.app-title {
  color: var(--pastel-color);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  margin-left: 20rem;
  justify-content: center;
}


.menu {
  display: flex;
  margin-top: 0.5rem;
  height: 450px;
  border-top: 1px solid var(--pastel-color);
  border-bottom: 1px solid var(--pastel-color);
}

.menu-table-item {
  display: flex;
  font-size: 2rem;
  color: var(--pastel-color);
  margin: 0.5rem;
  font-weight: 600;
}

.menu-table-item:hover {
  background-color: var(--background-pastel-color);
}
.menu-table-item:focus {
  background-color: var(--background-pastel-color);
  border: 2px solid var(--pastel-color);
}

.menu-table-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: var(--background-pastel-color);
  border-radius: 2px;
}