@font-face {
  font-family: "DS SweetKiss";
  src: url("../public/font.woff2") format("woff2");
}

html {
  display: flex;
  height: 100%;
  background-color: var(--background-pastel-color);
  font-family: "DS SweetKiss", "Helvetica", FontAwesome, sans-serif;
  justify-content: center;
  align-items: center;
}